{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="startpage col-12">
    <div class="halloween-hero-image d-flex justify-content-center align-items-center">
        <h1 class="halloween-hero-txt display-3 container-fluid"> 
            Favourite Halloween tracks
        </h1>
    </div>
</section>
<section class="row">
    <div class="col-6">
        <h3>Be sure to have the right ambiance at your Halloween festivities. Here are some of our favourites listed.</h3> <p> There are some real fun Halloween classics to down right creepy ones. Please let us know if your favourite Halloween track isn't in the list and we'll happily add it to the list!</p>
        <ul>
            <li>This is Halloween - The Citizens of Halloween</li>
            <li>Monster Mash - Bobby "Boris" Pickett</li>
            <li>Spooks - Louis Armstrong, Gordon Jenkins & His Orchestra</li>
            <li>Oogie Boogie's Song - Ed Ivory, Ken Page</li>
            <li>It Theme (From Stephen King's "It") - Cirque Du Horreur</li>
            <li>Tocata y Fuga in D Minor, BWV 565 - Angel Antonio González</li>
            <li>Hello Zep (From "Saw") - London music Works</li>
            <li>I put a spell on you - Screamin' Jay Hawkins</li>
            <li>Bury a friend - Billie Eilish</li>
            <li>Thriller - Michael Jackson</li>
            <li>Remains of the Day - Danny Elfman</li>
            <li>Carnival of Souls - Music for Zombies</li>
            <li>Spirit Symphony - Music for Zombies</li>
            <li>Zombie Sonata - Music for Zombies</li>
        </ul>
    </div>
    <div class="col-6"></div>
</section>

{% endblock %}

{% block content %}
{% endblock %}