{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="startpage col-12">
    <div class="halloween-hero-image d-flex justify-content-center align-items-center">
        <h1 class="halloween-hero-txt display-3 container-fluid"> 
            Best Halloween Movies!
        </h1>
    </div>
</section>
<section class="row">
    <div class="col-6"><h3>To get in the right mood</h3></div>
    <div class="col-6"></div>
</section>

{% endblock %}

{% block content %}
{% endblock %}
