{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="startpage col-12">
    <div class="halloween-hero-image d-flex justify-content-center align-items-center">
        <h1 class="halloween-hero-txt display-3 container-fluid"> 
            Awesome Halloween links
        </h1>
    </div>
</section>
<section class="col-6">
    <a href="https://www.creepypasta.com/the-russian-sleep-experiment/" target="_blank">
        Creepy Pasta</a> <p>The stories on this site is not for the faint-hearted</p>
        <a href="https://www.creepypasta.se/creepypasta/nio-skrackhistorier/" target="_blank">Ghost Stories</a> <p>Nine short creepy pastas that will keep you up at night - In Swedish</p>
</section>
<section class="col-6">
<img src="" alt="">
</section>
{% endblock %}

{% block content %}
{% endblock %}
