{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="startpage col-12">
    <div class="halloween-hero-image d-flex justify-content-center align-items-center">
        <h1 class="halloween-hero-txt display-3 container-fluid"> 
            Ghost Stories
        </h1>
    </div>
</section>
<section class="row">
    <div class="col-8 mt-5 px-5">
    As the nights draw in, there’s nothing quite as satisfying as scaring yourself witless with a good old-fashioned ghost story. Whether it’s something scary around Halloween, or a frightening tale shared late at night around a campfire, ghost stories have been around for as long as humans have been telling stories.
    Sometimes we just want a good scare for the pure fun of it but it's also known to be a great way to let ourselves feel our emotions in a safe space. It's also a great way to connect with your emotions instead of bottling difficult ones up. Which then makes it easier to feel other important emotions such as joy and hapiness! 
</div>

<div class="col-4 ghost-picture mt-5">
</section>
{% endblock %}

{% block content %}
{% endblock %}
